In [ ]:
!pip install Pandas

Requirement already satisfied: Pandas in /usr/local/lib/python3.12/dist-packages (2.2.2)
Requirement already satisfied: numpy>=1.26.0 in /usr/local/lib/python3.12/dist-packages (from Pandas) (2.0.2)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.12/dist-packages (from Pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.12/dist-packages (from Pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in /usr/local/lib/python3.12/dist-packages (from Pandas) (2025.3)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.12/dist-packages (from python-dateutil>=2.8.2->Pandas) (1.17.0)

In [ ]:
import pandas as pd

In [ ]:
pd.__version__

'2.2.2'

In [ ]:
# series in pandas

In [ ]:
import pandas as pd

In [ ]:
data=[10,20,30,40,50,60,70,80,90]

In [ ]:
s = pd.Series(data)

In [ ]:
print(s)

0    10
1    20
2    30
3    40
4    50
5    60
6    70
7    80
8    90
dtype: int64

In [ ]:
# create dataframe:
# Example 1

In [ ]:
import pandas as pd
df = pd.DataFrame([10,20,30,40,50],columns=["Numbers"])
print(df)

   Numbers
0       10
1       20
2       30
3       40
4       50

In [ ]:
# Example : 2

In [ ]:
data = {
    "Name" :["Nitish","Rakesh","Rohan","Raju","Sham","Baburao"],
    "age" :[20,21,22,34,23,45],
    "Salary" : [20000,30000,80000,45000,55000,88000]
}
df = pd.DataFrame(data)
print(df)

      Name  age  Salary
0   Nitish   20   20000
1   Rakesh   21   30000
2    Rohan   22   80000
3     Raju   34   45000
4     Sham   23   55000
5  Baburao   45   88000

In [ ]:
# check the type

In [ ]:
print(type(df))

<class 'pandas.core.frame.DataFrame'>

In [ ]:
# Basic Dataframe Understanding

In [ ]:
# (1.)  head(numbers of rows) method => it shows top rows

In [ ]:
df.head(3)  # it shows top 5 rows

     Name  age  Salary
0  Nitish   20   20000
1  Rakesh   21   30000
2   Rohan   22   80000

In [ ]:
df.tail(3)  # it shows last 5 rows if you not say number of rows in this ()

      Name  age  Salary
3     Raju   34   45000
4     Sham   23   55000
5  Baburao   45   88000

In [ ]:
df.shape   # it shows how many numbers of rows and columns are in dataframe

(6, 3)

In [ ]:
df.columns   # It Shows name of columns

Index(['Name', 'age', 'Salary'], dtype='object')

In [ ]:
# change column name

In [ ]:
df.rename(columns={'Salary' : 'Monthly_Salary'} ,inplace=True)

In [ ]:
df

      Name  age  Monthly_Salary
0   Nitish   20           20000
1   Rakesh   21           30000
2    Rohan   22           80000
3     Raju   34           45000
4     Sham   23           55000
5  Baburao   45           88000

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6 entries, 0 to 5
Data columns (total 3 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Name            6 non-null      object
 1   age             6 non-null      int64
 2   Monthly_Salary  6 non-null      int64
dtypes: int64(2), object(1)
memory usage: 276.0+ bytes

In [ ]:
df.describe()  # it show numeric values columns

             age  Monthly_Salary
count   6.000000        6.000000
mean   27.500000    53000.000000
std     9.974969    26981.475126
min    20.000000    20000.000000
25%    21.250000    33750.000000
50%    22.500000    50000.000000
75%    31.250000    73750.000000
max    45.000000    88000.000000

In [ ]:
# Saving the data

In [2]:
import pandas as pd
data = {
    "Name" :["Nitish","Rakesh","Rohan","Raju","Sham","Baburao"],
    "age" :[20,21,22,34,23,45],
    "Salary" : [20000,30000,80000,45000,55000,88000]
}
df = pd.DataFrame(data)
print(df)

      Name  age  Salary
0   Nitish   20   20000
1   Rakesh   21   30000
2    Rohan   22   80000
3     Raju   34   45000
4     Sham   23   55000
5  Baburao   45   88000

In [6]:
df.to_csv('simple_data.csv',index=False) # Export file

In [4]:
# Reading or Loading a file

In [7]:
pd.read_csv("simple_data.csv" )  # import file

      Name  age  Salary
0   Nitish   20   20000
1   Rakesh   21   30000
2    Rohan   22   80000
3     Raju   34   45000
4     Sham   23   55000
5  Baburao   45   88000

In [8]:
# Rows and Column - Selection

In [9]:
# select column
df[['Name']]   # select single column

      Name
0   Nitish
1   Rakesh
2    Rohan
3     Raju
4     Sham
5  Baburao

In [10]:
df[['Name','Salary']]  # select two columns

      Name  Salary
0   Nitish   20000
1   Rakesh   30000
2    Rohan   80000
3     Raju   45000
4     Sham   55000
5  Baburao   88000

In [11]:
# Row access (indexing)

In [19]:
# loc - lable based index
df.loc[df.Name=='Sham']  # it shows 4 row because it match the condition

   Name  age  Salary
4  Sham   23   55000

In [23]:
df.loc[0:3]  # it also show last index value in loc

     Name  age  Salary
0  Nitish   20   20000
1  Rakesh   21   30000
2   Rohan   22   80000
3    Raju   34   45000

In [22]:
 # iloc - index-value based
# df.iloc[0]
df.iloc[0:3]  # it shows 0 to 2 index it cannot include 3 index value

     Name  age  Salary
0  Nitish   20   20000
1  Rakesh   21   30000
2   Rohan   22   80000

In [24]:
# filter Data Frame

In [26]:
df

      Name  age  Salary
0   Nitish   20   20000
1   Rakesh   21   30000
2    Rohan   22   80000
3     Raju   34   45000
4     Sham   23   55000
5  Baburao   45   88000

In [29]:
# It filter out and shows which age is greater than 21
df[df['age'] > 21]

      Name  age  Salary
2    Rohan   22   80000
3     Raju   34   45000
4     Sham   23   55000
5  Baburao   45   88000

In [32]:
df[(df['age'] >21) & (df['Salary']>50000) ]

      Name  age  Salary
2    Rohan   22   80000
4     Sham   23   55000
5  Baburao   45   88000

In [33]:
# filter data frame using where() method

In [36]:
df.where(df['age'] >21 )

      Name   age   Salary
0      NaN   NaN      NaN
1      NaN   NaN      NaN
2    Rohan  22.0  80000.0
3     Raju  34.0  45000.0
4     Sham  23.0  55000.0
5  Baburao  45.0  88000.0

In [38]:
df.where(df['age'] >21 , other="Not Eligible")

           Name           age        Salary
0  Not Eligible  Not Eligible  Not Eligible
1  Not Eligible  Not Eligible  Not Eligible
2         Rohan            22         80000
3          Raju            34         45000
4          Sham            23         55000
5       Baburao            45         88000

In [40]:
 # Rows and columns- operation (Add,update,Delete)

In [41]:
# Add column

In [42]:
df

      Name  age  Salary
0   Nitish   20   20000
1   Rakesh   21   30000
2    Rohan   22   80000
3     Raju   34   45000
4     Sham   23   55000
5  Baburao   45   88000

In [44]:
# add a new column
df['Designation'] = ['CTA','DA','HR','Manager','Accountant','CEO']

In [45]:
df

      Name  age  Salary Designation
0   Nitish   20   20000         CTA
1   Rakesh   21   30000          DA
2    Rohan   22   80000          HR
3     Raju   34   45000     Manager
4     Sham   23   55000  Accountant
5  Baburao   45   88000         CEO

In [46]:
# add column after applying operation
df['Bonus'] = df['Salary'] * 0.2

In [47]:
df

      Name  age  Salary Designation    Bonus
0   Nitish   20   20000         CTA   4000.0
1   Rakesh   21   30000          DA   6000.0
2    Rohan   22   80000          HR  16000.0
3     Raju   34   45000     Manager   9000.0
4     Sham   23   55000  Accountant  11000.0
5  Baburao   45   88000         CEO  17600.0

In [48]:
# Add new rows

In [49]:
df.loc[len(df)] = ['Pappu',44,66000,'IT',2000]

In [50]:
df

      Name  age  Salary Designation    Bonus
0   Nitish   20   20000         CTA   4000.0
1   Rakesh   21   30000          DA   6000.0
2    Rohan   22   80000          HR  16000.0
3     Raju   34   45000     Manager   9000.0
4     Sham   23   55000  Accountant  11000.0
5  Baburao   45   88000         CEO  17600.0
6    Pappu   44   66000          IT   2000.0

In [51]:
len(df) # It check ow many rows are in table

7

In [52]:
# Upadate value - using index name

df.loc[0,'Salary'] = 1000000

In [53]:
df

      Name  age   Salary Designation    Bonus
0   Nitish   20  1000000         CTA   4000.0
1   Rakesh   21    30000          DA   6000.0
2    Rohan   22    80000          HR  16000.0
3     Raju   34    45000     Manager   9000.0
4     Sham   23    55000  Accountant  11000.0
5  Baburao   45    88000         CEO  17600.0
6    Pappu   44    66000          IT   2000.0

In [54]:
# update value - using column value

df.loc[df.Name=='Nitish', 'Salary'] = 1500000
df

      Name  age   Salary Designation    Bonus
0   Nitish   20  1500000         CTA   4000.0
1   Rakesh   21    30000          DA   6000.0
2    Rohan   22    80000          HR  16000.0
3     Raju   34    45000     Manager   9000.0
4     Sham   23    55000  Accountant  11000.0
5  Baburao   45    88000         CEO  17600.0
6    Pappu   44    66000          IT   2000.0

In [56]:
# Delete value - rows and column value

In [62]:
df.drop(df[df.Name=='Pappu'].index,inplace=True)  # delete row - axis=0(by defalut) if axis=0
                                                  # it delete a complete row

In [63]:
df

      Name  age   Salary Designation    Bonus
0   Nitish   20  1500000         CTA   4000.0
1   Rakesh   21    30000          DA   6000.0
2    Rohan   22    80000          HR  16000.0
3     Raju   34    45000     Manager   9000.0
4     Sham   23    55000  Accountant  11000.0
5  Baburao   45    88000         CEO  17600.0

In [64]:
# Delete Column

In [ ]:
df.drop('Bonus' , axis=1 , inplace=True)

In [69]:
df

      Name  age   Salary Designation
0   Nitish   20  1500000         CTA
1   Rakesh   21    30000          DA
2    Rohan   22    80000          HR
3     Raju   34    45000     Manager
4     Sham   23    55000  Accountant
5  Baburao   45    88000         CEO

In [71]:
df.sort_values('Salary')   # it sort according to asscending order

      Name  age   Salary Designation
1   Rakesh   21    30000          DA
3     Raju   34    45000     Manager
4     Sham   23    55000  Accountant
2    Rohan   22    80000          HR
5  Baburao   45    88000         CEO
0   Nitish   20  1500000         CTA

In [72]:
df.sort_values('Salary', ascending=False)   # it sort according to descending order

      Name  age   Salary Designation
0   Nitish   20  1500000         CTA
5  Baburao   45    88000         CEO
2    Rohan   22    80000          HR
4     Sham   23    55000  Accountant
3     Raju   34    45000     Manager
1   Rakesh   21    30000          DA