In [10]:
import pandas as pd

Employee_data ={
    "Name": ["Raju","Sham","Baburao","Rakesh","Shivam"],
     "Age" :[30,35,50,21,22],
     "Salary":[40000,45000,33000,90000,95000]
}
df = pd.DataFrame(Employee_data)
print(df)

      Name  Age  Salary
0     Raju   30   40000
1     Sham   35   45000
2  Baburao   50   33000
3   Rakesh   21   90000
4   Shivam   22   95000

In [12]:
# Add Date of Joining column

In [14]:
df['DOJ'] = ['2024-01-01','2024-01-23','2024-01-04','2024-01-07','2024-01-10']

In [15]:
df

      Name  Age  Salary         DOJ
0     Raju   30   40000  2024-01-01
1     Sham   35   45000  2024-01-23
2  Baburao   50   33000  2024-01-04
3   Rakesh   21   90000  2024-01-07
4   Shivam   22   95000  2024-01-10

In [16]:
df['DOJ'].dtype

dtype('O')

In [17]:
df['DOJ'] = pd.to_datetime(df['DOJ'])  # After using this method now it show M8[ns] . it is a data typethat is used in pyton

In [18]:
df['DOJ'].dtype

dtype('<M8[ns]')

In [19]:
df['DOJ'].dt.year   # it shows only year from DOJ column

0    2024
1    2024
2    2024
3    2024
4    2024
Name: DOJ, dtype: int32

In [20]:
df['DOJ'].dt.month   # it shows only month from DOJ column

0    1
1    1
2    1
3    1
4    1
Name: DOJ, dtype: int32

In [21]:
df['DOJ'].dt.day  # it shows day (date)from DOJ column

0     1
1    23
2     4
3     7
4    10
Name: DOJ, dtype: int32

In [22]:
df['DOJ'].dt.day_name()   # it shows day name from DOJ column

0       Monday
1      Tuesday
2     Thursday
3       Sunday
4    Wednesday
Name: DOJ, dtype: object

In [23]:
# Handling Missing values

In [24]:
df.isnull()

    Name    Age  Salary    DOJ
0  False  False   False  False
1  False  False   False  False
2  False  False   False  False
3  False  False   False  False
4  False  False   False  False

In [25]:
df.isnull().sum()  # It Count missing values

Name      0
Age       0
Salary    0
DOJ       0
dtype: int64

In [26]:
(df.isnull().sum() / len(df)) * 100

Name      0.0
Age       0.0
Salary    0.0
DOJ       0.0
dtype: float64

In [27]:
# Understand How to check missing value and other operations

In [28]:
import pandas as pd
import numpy as np

data ={
    "Name" : ['Nitish','Rakesh','Rohan','None'],
    "Age" : [21,22,None,32],
    "Salary" : [90000,None,50000,80000]
}

df = pd.DataFrame(data)
print(df)

     Name   Age   Salary
0  Nitish  21.0  90000.0
1  Rakesh  22.0      NaN
2   Rohan   NaN  50000.0
3    None  32.0  80000.0

In [29]:
df.isnull() # check null value in dataframe

    Name    Age  Salary
0  False  False   False
1  False  False    True
2  False   True   False
3  False  False   False

In [30]:
df.isnull().sum()  # It show how many null value is in dataframe

Name      0
Age       1
Salary    1
dtype: int64

In [31]:
# Filling missing values

In [32]:
df.fillna(0)

     Name   Age   Salary
0  Nitish  21.0  90000.0
1  Rakesh  22.0      0.0
2   Rohan   0.0  50000.0
3    None  32.0  80000.0

In [33]:
# fill value column-wise

In [34]:
df['Salary'].fillna(75000,inplace=True)

/tmp/ipython-input-3458944307.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Salary'].fillna(75000,inplace=True)

In [36]:
df

     Name   Age   Salary
0  Nitish  21.0  90000.0
1  Rakesh  22.0  75000.0
2   Rohan   NaN  50000.0
3    None  32.0  80000.0

In [2]:
import pandas as pd

data ={
    "Name" : ['Nitish','Rakesh','Rohan','Mohan','Sohan'],
    "Age" : [21,22,33,32,24],
    "Salary" : [90000,87000,50000,80000,45000]
}

df = pd.DataFrame(data)
print(df)

     Name  Age  Salary
0  Nitish   21   90000
1  Rakesh   22   87000
2   Rohan   33   50000
3   Mohan   32   80000
4   Sohan   24   45000

In [11]:
# Aggregation and group by

In [3]:
# Basic Aggregation on a column

In [4]:
df

     Name  Age  Salary
0  Nitish   21   90000
1  Rakesh   22   87000
2   Rohan   33   50000
3   Mohan   32   80000
4   Sohan   24   45000

In [5]:
df['Salary'].sum()

np.int64(352000)

In [6]:
df['Salary'].min()

45000

In [7]:
df['Salary'].mean()

np.float64(70400.0)

In [8]:
# Concatenate & Merge DataFrames (JOINs)

In [19]:
import pandas as pd

data={
    "Id":[0,1,2,3],
    "Name":["Nitish","Rohan","Manish","Sohan"],
    "Marks":[80,87,45,78]

}
df1 = pd.DataFrame(data)
print(df1)

   Id    Name  Marks
0   0  Nitish     80
1   1   Rohan     87
2   2  Manish     45
3   3   Sohan     78

In [20]:
import pandas as pd

data={
    "Id":[0,1,2,3],
    "Name":["Raju","Sham","Baburao","Soham"],
    "Marks":[83,85,60,70]

}
df2 = pd.DataFrame(data)
print(df2)

   Id     Name  Marks
0   0     Raju     83
1   1     Sham     85
2   2  Baburao     60
3   3    Soham     70

In [11]:
# using concatenate

In [16]:
pd.concat([df1,df2],axis=0)    # row level / vertical /top on top

      Name  Marks
0   Nitish     80
1    Rohan     87
2   Manish     45
3    Sohan     78
0     Raju     83
1     Sham     85
2  Baburao     60
3    Soham     70

In [17]:
pd.concat([df1,df2],axis=1)  # Horizontal / column level / side on side

     Name  Marks     Name  Marks
0  Nitish     80     Raju     83
1   Rohan     87     Sham     85
2  Manish     45  Baburao     60
3   Sohan     78    Soham     70

In [21]:
# Merge (JOIN)

In [22]:
pd.merge(df1,df2, how='inner', on='Id')

   Id  Name_x  Marks_x   Name_y  Marks_y
0   0  Nitish       80     Raju       83
1   1   Rohan       87     Sham       85
2   2  Manish       45  Baburao       60
3   3   Sohan       78    Soham       70