In [7]:
# Project Name :- Student Performance Analyzer

In [ ]:
from google.colab import files
files.upload()

In [2]:
import pandas as pd

In [12]:
df=pd.read_excel('StudentData.xlsx/StudentData.xlsx')

In [13]:
df

    Student_Id      Name  English  Maths  Hindi  Social-Science  Science
0          101      Amit       75     85     81              54       80
1          102      Riya       82     78     76              61       85
2          103     Sohan       88     92     55              63       90
3          104     Mohan       90     88     65              88       75
4          105      Neha       90     60     55              76       65
5          106     Rahul       85     72     88              56       75
6          107      Raju       50     95     45              76       93
7          108      Sham       65     66     65              79       60
8          109    Rakesh       45     81     64              67       50
9          110    Shivam       67     74     73              92       86
10         111      Vasu       58     58     82              89       79
11         112     Rohan       57     75     91              67       69
12         113     Gopal       89     96     90              55       91
13         114     Priya       98     94     60              77       65
14         115    Anuska       56     91     80              99       79
15         116  AnuPriya       76     66     83              51       76
16         117       Anu       71     55     73              71       72
17         118     Soham       73     77     62              81       61
18         119    Gautam       83     89     51              80       81
19         120     Rohit       91     59     53              60       55

In [14]:
# It make a column that name is "Total"
# It adds total 5 subject Marks of each students and present in their row in "Total" Name column

df['Total'] = df['English'] + df['Maths'] + df['Hindi'] + df['Social-Science'] + df['Science']

In [15]:
df

,Student_Id,Name,English,Maths,Hindi,Social-Science,Science,Total
0,101,Amit,75,85,81,54,80,375
1,102,Riya,82,78,76,61,85,382
2,103,Sohan,88,92,55,63,90,388
3,104,Mohan,90,88,65,88,75,406
4,105,Neha,90,60,55,76,65,346
5,106,Rahul,85,72,88,56,75,376
6,107,Raju,50,95,45,76,93,359
7,108,Sham,65,66,65,79,60,335
8,109,Rakesh,45,81,64,67,50,307
9,110,Shivam,67,74,73,92,86,392
10,111,Vasu,58,58,82,89,79,366
11,112,Rohan,57,75,91,67,69,359
12,113,Gopal,89,96,90,55,91,421
13,114,Priya,98,94,60,77,65,394
14,115,Anuska,56,91,80,99,79,405
15,116,AnuPriya,76,66,83,51,76,352
16,117,Anu,71,55,73,71,72,342
17,118,Soham,73,77,62,81,61,354
18,119,Gautam,83,89,51,80,81,384
19,120,Rohit,91,59,53,60,55,318

In [16]:
# Average of Marks

In [17]:
df['Average'] = df['Total']/5
df

,Student_Id,Name,English,Maths,Hindi,Social-Science,Science,Total,Average
0,101,Amit,75,85,81,54,80,375,75.0
1,102,Riya,82,78,76,61,85,382,76.4
2,103,Sohan,88,92,55,63,90,388,77.6
3,104,Mohan,90,88,65,88,75,406,81.2
4,105,Neha,90,60,55,76,65,346,69.2
5,106,Rahul,85,72,88,56,75,376,75.2
6,107,Raju,50,95,45,76,93,359,71.8
7,108,Sham,65,66,65,79,60,335,67.0
8,109,Rakesh,45,81,64,67,50,307,61.4
9,110,Shivam,67,74,73,92,86,392,78.4
10,111,Vasu,58,58,82,89,79,366,73.2
11,112,Rohan,57,75,91,67,69,359,71.8
12,113,Gopal,89,96,90,55,91,421,84.2
13,114,Priya,98,94,60,77,65,394,78.8
14,115,Anuska,56,91,80,99,79,405,81.0
15,116,AnuPriya,76,66,83,51,76,352,70.4
16,117,Anu,71,55,73,71,72,342,68.4
17,118,Soham,73,77,62,81,61,354,70.8
18,119,Gautam,83,89,51,80,81,384,76.8
19,120,Rohit,91,59,53,60,55,318,63.6

In [18]:
# Find Highest Marks from Each Subject

In [20]:
print("Highest Marks in English :", df['English'].max())
print("Highest Marks in Maths :", df['Maths'].max())
print("Highest Marks in Hindi :", df['Hindi'].max())
print("Highest Marks in Social-Science :", df['Social-Science'].max())
print("Highest Marks in Science :", df['Science'].max())

Highest Marks in English : 98
Highest Marks in Maths : 96
Highest Marks in Hindi : 91
Highest Marks in Social-Science : 99
Highest Marks in Science : 93

In [21]:
# Find Toppers from each subject with their Name

In [23]:
print("English Topper :")
print(df.loc[df['English'].idxmax() , ['Name', 'English']])

print("\n Maths Topper :")
print(df.loc[df['Maths'].idxmax() , ['Name', 'Maths']])

print("\n Hindi Topper :")
print(df.loc[df['Hindi'].idxmax() , ['Name', 'Hindi']])

print("\n Social-Science Topper :")
print(df.loc[df['Social-Science'].idxmax() , ['Name', 'Social-Science']])

print("\n Science Topper :")
print(df.loc[df['Science'].idxmax() , ['Name', 'Science']])

English Topper :
Name       Priya
English       98
Name: 13, dtype: object

 Maths Topper :
Name     Gopal
Maths       96
Name: 12, dtype: object

 Hindi Topper :
Name     Rohan
Hindi       91
Name: 11, dtype: object

 Social-Science Topper :
Name              Anuska
Social-Science        99
Name: 14, dtype: object

 Science Topper :
Name       Raju
Science      93
Name: 6, dtype: object

In [24]:
# find Grade from Average

In [34]:
def grade(avg):
  if avg >= 80:
    return 'A'
  elif avg >= 70:
    return 'B'
  else:
    return 'C'


df['Grade'] = df['Average'].apply(grade)

In [35]:
df

,Student_Id,Name,English,Maths,Hindi,Social-Science,Science,Total,Average,Grade
0,101,Amit,75,85,81,54,80,375,75.0,B
1,102,Riya,82,78,76,61,85,382,76.4,B
2,103,Sohan,88,92,55,63,90,388,77.6,B
3,104,Mohan,90,88,65,88,75,406,81.2,A
4,105,Neha,90,60,55,76,65,346,69.2,C
5,106,Rahul,85,72,88,56,75,376,75.2,B
6,107,Raju,50,95,45,76,93,359,71.8,B
7,108,Sham,65,66,65,79,60,335,67.0,C
8,109,Rakesh,45,81,64,67,50,307,61.4,C
9,110,Shivam,67,74,73,92,86,392,78.4,B
10,111,Vasu,58,58,82,89,79,366,73.2,B
11,112,Rohan,57,75,91,67,69,359,71.8,B
12,113,Gopal,89,96,90,55,91,421,84.2,A
13,114,Priya,98,94,60,77,65,394,78.8,B
14,115,Anuska,56,91,80,99,79,405,81.0,A
15,116,AnuPriya,76,66,83,51,76,352,70.4,B
16,117,Anu,71,55,73,71,72,342,68.4,C
17,118,Soham,73,77,62,81,61,354,70.8,B
18,119,Gautam,83,89,51,80,81,384,76.8,B
19,120,Rohit,91,59,53,60,55,318,63.6,C

In [30]:
# Find Topper

In [39]:
topper = df[df['Total'] == df['Total'].max()]
print("topper : \n",topper )

topper :
     Student_Id   Name  English  Maths  Hindi  Social-Science  Science  Total  \
12         113  Gopal       89     96     90              55       91    421

    Average Grade
12     84.2     A

In [40]:
weak_student = df[df['Average']<65]
print("Needs Improvement : \n",weak_student)

Needs Improvement :
     Student_Id    Name  English  Maths  Hindi  Social-Science  Science  Total  \
8          109  Rakesh       45     81     64              67       50    307
19         120   Rohit       91     59     53              60       55    318

    Average Grade
8      61.4     C
19     63.6     C

In [41]:
# save or export the file

In [42]:
df.to_csv("Student_Performance_PowerBI.csv",index=False)

In [ ]:
# Download the csv file

In [43]:
from google.colab import files
files.download("Student_Performance_PowerBI.csv")